= simple_form_for(@group) do |f|
  = f.error_notification
  .form-inputs
    = f.input :number
    = f.input :direction
    = f.association :rooms, label_method: :number, value_method: :id

  .form-actions
    = f.button :submit



